Data Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
reviews = pd.read_csv('https://raw.githubusercontent.com/Manoj-A-Thomas/data/data/winemag-data_first150k.csv', index_col=0)

In [8]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150930 entries, 0 to 150929
Data columns (total 10 columns):
country        150925 non-null object
description    150930 non-null object
designation    105195 non-null object
points         150930 non-null int64
price          137235 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150930 non-null object
winery         150930 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 8.1+ MB

Looking only at country, province, points, price

In [9]:
# change col data type
reviews.points.astype('float64')

0         96.0
1         96.0
2         96.0
3         96.0
4         95.0
5         95.0
6         95.0
7         95.0
8         95.0
9         95.0
10        95.0
11        95.0
12        95.0
13        95.0
14        95.0
15        95.0
16        95.0
17        95.0
18        95.0
19        95.0
20        95.0
21        95.0
22        95.0
23        95.0
24        95.0
25        94.0
26        94.0
27        94.0
28        94.0
29        94.0
          ...
150900    81.0
150901    81.0
150902    81.0
150903    81.0
150904    81.0
150905    80.0
150906    93.0
150907    92.0
150908    90.0
150909    89.0
150910    89.0
150911    87.0
150912    87.0
150913    94.0
150914    94.0
150915    93.0
150916    93.0
150917    92.0
150918    92.0
150919    91.0
150920    91.0
150921    91.0
150922    91.0
150923    91.0
150924    91.0
150925    91.0
150926    91.0
150927    91.0
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

In [13]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150930 entries, 0 to 150929
Data columns (total 10 columns):
country        150925 non-null object
description    150930 non-null object
designation    105195 non-null object
points         150930 non-null int64
price          137235 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150930 non-null object
winery         150930 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 8.1+ MB

In [22]:
# find missing value counts
reviews[['country','province','points','price']].isnull().sum()

country         0
province        0
points          0
price       13695
dtype: int64

In [19]:
reviews[reviews.country.isnull() | reviews.province.isnull()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1133</th>
      <td>NaN</td>
      <td>Delicate white flowers and a spin of lemon pee...</td>
      <td>Askitikos</td>
      <td>90</td>
      <td>17.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Assyrtiko</td>
      <td>Tsililis</td>
    </tr>
    <tr>
      <th>1440</th>
      <td>NaN</td>
      <td>A blend of 60% Syrah, 30% Cabernet Sauvignon a...</td>
      <td>Shah</td>
      <td>90</td>
      <td>30.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Red Blend</td>
      <td>Büyülübağ</td>
    </tr>
    <tr>
      <th>68226</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
    <tr>
      <th>113016</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
    <tr>
      <th>135696</th>
      <td>NaN</td>
      <td>From first sniff to last, the nose never makes...</td>
      <td>Piedra Feliz</td>
      <td>81</td>
      <td>15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Pinot Noir</td>
      <td>Chilcas</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
# how to get rid of missing records
reviews.dropna(subset=['country','province'], inplace=True)

In [20]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>59455</th>
      <td>Italy</td>
      <td>Sangiovese (90%) with small parts Colorino and...</td>
      <td>NaN</td>
      <td>87</td>
      <td>25.0</td>
      <td>Tuscany</td>
      <td>San Gimignano</td>
      <td>NaN</td>
      <td>Sangiovese</td>
      <td>Il Colombaio di Santachiara</td>
    </tr>
    <tr>
      <th>150790</th>
      <td>US</td>
      <td>Always a bit herbaceous, this year the underly...</td>
      <td>Meritage</td>
      <td>90</td>
      <td>28.0</td>
      <td>California</td>
      <td>Sonoma County</td>
      <td>Sonoma</td>
      <td>Bordeaux-style Red Blend</td>
      <td>Dry Creek Vineyard</td>
    </tr>
    <tr>
      <th>34586</th>
      <td>Italy</td>
      <td>Here's a bright and easy-drinking expression o...</td>
      <td>NaN</td>
      <td>86</td>
      <td>9.0</td>
      <td>Sicily &amp; Sardinia</td>
      <td>Terre Siciliane</td>
      <td>NaN</td>
      <td>Nero d'Avola</td>
      <td>Stemmari</td>
    </tr>
    <tr>
      <th>62993</th>
      <td>US</td>
      <td>Helen Turley's Chardonnay shows nice complexit...</td>
      <td>Gauer Vineyard</td>
      <td>89</td>
      <td>30.0</td>
      <td>California</td>
      <td>Sonoma County</td>
      <td>Sonoma</td>
      <td>Chardonnay</td>
      <td>Canepa</td>
    </tr>
    <tr>
      <th>135873</th>
      <td>Greece</td>
      <td>This refreshing red starts with aromas of alls...</td>
      <td>Argilos</td>
      <td>84</td>
      <td>14.0</td>
      <td>Nemea</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Agiorgitiko</td>
      <td>Harlaftis</td>
    </tr>
    <tr>
      <th>23315</th>
      <td>US</td>
      <td>With the largest production in the entire Nort...</td>
      <td>NaN</td>
      <td>88</td>
      <td>10.0</td>
      <td>Washington</td>
      <td>Columbia Valley (WA)</td>
      <td>Columbia Valley</td>
      <td>Sauvignon Blanc</td>
      <td>Chateau Ste. Michelle</td>
    </tr>
    <tr>
      <th>43456</th>
      <td>France</td>
      <td>Apricot, damask rose and earth frame this viva...</td>
      <td>Collection</td>
      <td>91</td>
      <td>25.0</td>
      <td>Alsace</td>
      <td>Alsace</td>
      <td>NaN</td>
      <td>Gewürztraminer</td>
      <td>Kuentz-Bas</td>
    </tr>
    <tr>
      <th>129754</th>
      <td>US</td>
      <td>Starts a bit chemically, but that blows off to...</td>
      <td>NaN</td>
      <td>84</td>
      <td>15.0</td>
      <td>New York</td>
      <td>Finger Lakes</td>
      <td>Finger Lakes</td>
      <td>Chardonnay</td>
      <td>Shaw</td>
    </tr>
    <tr>
      <th>91225</th>
      <td>US</td>
      <td>A full, fruity, slightly hot Chardonnay. The b...</td>
      <td>NaN</td>
      <td>86</td>
      <td>21.0</td>
      <td>Washington</td>
      <td>Columbia Valley (WA)</td>
      <td>Columbia Valley</td>
      <td>Chardonnay</td>
      <td>DaMa</td>
    </tr>
    <tr>
      <th>49979</th>
      <td>US</td>
      <td>Opening with aromas of barbecued meat, this so...</td>
      <td>Peltier Station</td>
      <td>84</td>
      <td>18.0</td>
      <td>California</td>
      <td>Lodi</td>
      <td>Central Valley</td>
      <td>Cabernet Sauvignon</td>
      <td>Peltier</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
reviews.region_1.isnull().sum()

25055

In [26]:
reviews.region_1.fillna('unknown', inplace=True)

In [27]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>86030</th>
      <td>Italy</td>
      <td>Fresh floral and peach-like aromas emerge from...</td>
      <td>NaN</td>
      <td>86</td>
      <td>10.0</td>
      <td>Sicily &amp; Sardinia</td>
      <td>Sicilia</td>
      <td>NaN</td>
      <td>Pinot Grigio</td>
      <td>MandraRossa</td>
    </tr>
    <tr>
      <th>102206</th>
      <td>Spain</td>
      <td>Coconut and vanilla aromas are squarely in the...</td>
      <td>Selección Crianza</td>
      <td>88</td>
      <td>22.0</td>
      <td>Northern Spain</td>
      <td>Rioja</td>
      <td>NaN</td>
      <td>Tempranillo</td>
      <td>Ramirez de la Piscina</td>
    </tr>
    <tr>
      <th>46207</th>
      <td>Italy</td>
      <td>Velvety, rich and concentrated, this modern in...</td>
      <td>Gepin</td>
      <td>89</td>
      <td>28.0</td>
      <td>Piedmont</td>
      <td>Barbera d'Alba</td>
      <td>NaN</td>
      <td>Barbera</td>
      <td>Albino Rocca</td>
    </tr>
    <tr>
      <th>38842</th>
      <td>US</td>
      <td>Part of King Estate's ambitious Limited Editio...</td>
      <td>Limited Edition Blend</td>
      <td>91</td>
      <td>22.0</td>
      <td>Oregon</td>
      <td>Oregon</td>
      <td>Oregon Other</td>
      <td>Pinot Gris</td>
      <td>King Estate</td>
    </tr>
    <tr>
      <th>110890</th>
      <td>US</td>
      <td>Heavy and oaky in youth, although there are de...</td>
      <td>Moment of Truth</td>
      <td>91</td>
      <td>125.0</td>
      <td>California</td>
      <td>Napa Valley</td>
      <td>Napa</td>
      <td>Cabernet Sauvignon</td>
      <td>Waterfront</td>
    </tr>
    <tr>
      <th>81737</th>
      <td>US</td>
      <td>This red wine has brisk tannins that frame bla...</td>
      <td>NaN</td>
      <td>85</td>
      <td>18.0</td>
      <td>California</td>
      <td>Sonoma County</td>
      <td>Sonoma</td>
      <td>Red Blend</td>
      <td>Elements by Artesa</td>
    </tr>
    <tr>
      <th>33307</th>
      <td>US</td>
      <td>In this soft, elegant mix of almost 75% Merlot...</td>
      <td>Padlock</td>
      <td>88</td>
      <td>29.0</td>
      <td>California</td>
      <td>Napa Valley</td>
      <td>Napa</td>
      <td>Bordeaux-style Red Blend</td>
      <td>Picayune</td>
    </tr>
    <tr>
      <th>102606</th>
      <td>Italy</td>
      <td>Tradizione, as the name suggests, does evoke t...</td>
      <td>Tradizione</td>
      <td>87</td>
      <td>17.0</td>
      <td>Piedmont</td>
      <td>Barbera d'Alba</td>
      <td>NaN</td>
      <td>Barbera</td>
      <td>Tre Donne</td>
    </tr>
    <tr>
      <th>128030</th>
      <td>France</td>
      <td>A creamy style of Sauvignon Blanc, showing sof...</td>
      <td>Sauvignon</td>
      <td>86</td>
      <td>10.0</td>
      <td>Southwest France</td>
      <td>Vin de Pays des Côtes de Gascogne</td>
      <td>NaN</td>
      <td>Sauvignon Blanc</td>
      <td>Domaine du Tariquet</td>
    </tr>
    <tr>
      <th>87365</th>
      <td>US</td>
      <td>Lots of delicious raspberry and cherry flavors...</td>
      <td>Old Vines</td>
      <td>86</td>
      <td>36.0</td>
      <td>California</td>
      <td>Napa Valley</td>
      <td>Napa</td>
      <td>Zinfandel</td>
      <td>Saddleback</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
reviews.region_2.replace(np.nan, 'unknown', inplace=True)

In [31]:
reviews.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>description</th>
      <th>designation</th>
      <th>points</th>
      <th>price</th>
      <th>province</th>
      <th>region_1</th>
      <th>region_2</th>
      <th>variety</th>
      <th>winery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>91367</th>
      <td>Argentina</td>
      <td>A little bit baked, but overall it's a good, s...</td>
      <td>NaN</td>
      <td>86</td>
      <td>13.0</td>
      <td>Mendoza Province</td>
      <td>Mendoza</td>
      <td>unknown</td>
      <td>Malbec</td>
      <td>Four Aces</td>
    </tr>
    <tr>
      <th>27288</th>
      <td>US</td>
      <td>Mostly Merlot and Cabernet Franc, this wine fr...</td>
      <td>Uriah Estate Grown</td>
      <td>91</td>
      <td>50.0</td>
      <td>Washington</td>
      <td>Walla Walla Valley (WA)</td>
      <td>Columbia Valley</td>
      <td>Bordeaux-style Red Blend</td>
      <td>Spring Valley Vineyard</td>
    </tr>
    <tr>
      <th>123328</th>
      <td>US</td>
      <td>A bit overripe and hot in alcohol. That's the ...</td>
      <td>Grandmère Old Vine</td>
      <td>87</td>
      <td>12.0</td>
      <td>California</td>
      <td>Amador County</td>
      <td>Sierra Foothills</td>
      <td>Zinfandel</td>
      <td>Kirkland Signature</td>
    </tr>
    <tr>
      <th>68666</th>
      <td>Argentina</td>
      <td>Yet another solid but unspectacular Malbec fro...</td>
      <td>Reserve</td>
      <td>84</td>
      <td>12.0</td>
      <td>Other</td>
      <td>San Juan</td>
      <td>unknown</td>
      <td>Malbec</td>
      <td>Las Moras</td>
    </tr>
    <tr>
      <th>32607</th>
      <td>France</td>
      <td>Smooth and round, this wine is made from grape...</td>
      <td>Les Charmes Dessus</td>
      <td>91</td>
      <td>60.0</td>
      <td>Burgundy</td>
      <td>Santenay</td>
      <td>unknown</td>
      <td>Chardonnay</td>
      <td>Domaine de Bellene</td>
    </tr>
    <tr>
      <th>63548</th>
      <td>US</td>
      <td>Nicely dry and crisp in clean acidity, this Sa...</td>
      <td>NaN</td>
      <td>83</td>
      <td>14.0</td>
      <td>California</td>
      <td>Lake County-Mendocino County</td>
      <td>Mendocino/Lake Counties</td>
      <td>Sauvignon Blanc</td>
      <td>Bonterra</td>
    </tr>
    <tr>
      <th>53458</th>
      <td>US</td>
      <td>Good varietal flavors of citrus fruits, wildfl...</td>
      <td>NaN</td>
      <td>84</td>
      <td>18.0</td>
      <td>California</td>
      <td>Napa Valley</td>
      <td>Napa</td>
      <td>Sauvignon Blanc</td>
      <td>Charles Krug</td>
    </tr>
    <tr>
      <th>87844</th>
      <td>Spain</td>
      <td>The nose shows buttered popcorn, toast and bak...</td>
      <td>Becquer Blanco</td>
      <td>85</td>
      <td>18.0</td>
      <td>Northern Spain</td>
      <td>Rioja</td>
      <td>unknown</td>
      <td>White Blend</td>
      <td>Bodegas Escudero</td>
    </tr>
    <tr>
      <th>136949</th>
      <td>Argentina</td>
      <td>Rubbery and a bit herbal on the nose, with a s...</td>
      <td>NaN</td>
      <td>87</td>
      <td>14.0</td>
      <td>Mendoza Province</td>
      <td>Mendoza</td>
      <td>unknown</td>
      <td>Malbec</td>
      <td>Kaiken</td>
    </tr>
    <tr>
      <th>105691</th>
      <td>US</td>
      <td>Lightly silky, this has mouth-cleansing acidit...</td>
      <td>Cheval Sauvage</td>
      <td>92</td>
      <td>60.0</td>
      <td>California</td>
      <td>Santa Maria Valley</td>
      <td>Central Coast</td>
      <td>Pinot Noir</td>
      <td>Wild Horse</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
reviews.reset_index(drop=True, inplace=True)

In [42]:
# Fix price 
# reviews['price'].plot(kind='hist', bins=20)
reviews['price'].describe()
# reviews['price'].value_counts()

count    137230.000000
mean         33.132019
std          36.323072
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: price, dtype: float64

In [44]:
len(reviews[reviews['price']>40])    # 31317 wines with price above 40

31317

In [46]:
len(reviews[reviews['price']<40])

101895

In [47]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150925 entries, 0 to 150924
Data columns (total 10 columns):
country        150925 non-null object
description    150925 non-null object
designation    105190 non-null object
points         150925 non-null int64
price          137230 non-null float64
province       150925 non-null object
region_1       150925 non-null object
region_2       150925 non-null object
variety        150925 non-null object
winery         150925 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 6.9+ MB

In [48]:
# remove wines greater than 40 and create new df
reviews_pr = reviews.loc[reviews['price'] < 40].copy()

In [49]:
reviews_pr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101895 entries, 20 to 150924
Data columns (total 10 columns):
country        101895 non-null object
description    101895 non-null object
designation    66059 non-null object
points         101895 non-null int64
price          101895 non-null float64
province       101895 non-null object
region_1       101895 non-null object
region_2       101895 non-null object
variety        101895 non-null object
winery         101895 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 5.4+ MB

In [50]:
reviews_pr.reset_index(drop=True, inplace=True)

In [52]:
reviews_pr.province.is_unique

False

In [53]:
reviews_noDup = reviews_pr.drop_duplicates()

In [56]:
reviews_noDup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65503 entries, 0 to 65502
Data columns (total 10 columns):
country        65503 non-null object
description    65503 non-null object
designation    42228 non-null object
points         65503 non-null int64
price          65503 non-null float64
province       65503 non-null object
region_1       65503 non-null object
region_2       65503 non-null object
variety        65503 non-null object
winery         65503 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.0+ MB

In [55]:
reviews_noDup.reset_index(drop=True, inplace=True)

In [59]:
# log scaling
# reviews_noDup.var()
reviews_noDup.loc[:,'price_log'] = np.log(reviews_noDup['price'])

C:\Users\stacy\PycharmProjects\Basics\venv\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [60]:
reviews_noDup[['points','price_log']].var()

points       7.620576
price_log    0.173753
dtype: float64