In [ ]:
import pandas as pd
import numpy as np

Filter Methods

In [4]:
url='https://raw.githubusercontent.com/Manoj-A-Thomas/data/data/diabetes-data-preprocessed.csv'
names=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class',]
dpp = pd.read_csv(url, names=names)

In [6]:
dpp.shape

(768, 9)

In [7]:
dpp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
preg     768 non-null int64
plas     768 non-null int64
pres     768 non-null int64
skin     768 non-null int64
test     768 non-null int64
mass     768 non-null float64
pedi     768 non-null float64
age      768 non-null int64
class    768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.0 KB

In [8]:
dpp.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>preg</th>
      <th>plas</th>
      <th>pres</th>
      <th>skin</th>
      <th>test</th>
      <th>mass</th>
      <th>pedi</th>
      <th>age</th>
      <th>class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>143</th>
      <td>10</td>
      <td>108</td>
      <td>66</td>
      <td>0</td>
      <td>0</td>
      <td>32.4</td>
      <td>0.272</td>
      <td>42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>630</th>
      <td>7</td>
      <td>114</td>
      <td>64</td>
      <td>0</td>
      <td>0</td>
      <td>27.4</td>
      <td>0.732</td>
      <td>34</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30</th>
      <td>5</td>
      <td>109</td>
      <td>75</td>
      <td>26</td>
      <td>0</td>
      <td>36.0</td>
      <td>0.546</td>
      <td>60</td>
      <td>0</td>
    </tr>
    <tr>
      <th>410</th>
      <td>6</td>
      <td>102</td>
      <td>90</td>
      <td>39</td>
      <td>0</td>
      <td>35.7</td>
      <td>0.674</td>
      <td>28</td>
      <td>0</td>
    </tr>
    <tr>
      <th>663</th>
      <td>9</td>
      <td>145</td>
      <td>80</td>
      <td>46</td>
      <td>130</td>
      <td>37.9</td>
      <td>0.637</td>
      <td>40</td>
      <td>1</td>
    </tr>
    <tr>
      <th>551</th>
      <td>3</td>
      <td>84</td>
      <td>68</td>
      <td>30</td>
      <td>106</td>
      <td>31.9</td>
      <td>0.591</td>
      <td>25</td>
      <td>0</td>
    </tr>
    <tr>
      <th>765</th>
      <td>5</td>
      <td>121</td>
      <td>72</td>
      <td>23</td>
      <td>112</td>
      <td>26.2</td>
      <td>0.245</td>
      <td>30</td>
      <td>0</td>
    </tr>
    <tr>
      <th>392</th>
      <td>1</td>
      <td>131</td>
      <td>64</td>
      <td>14</td>
      <td>415</td>
      <td>23.7</td>
      <td>0.389</td>
      <td>21</td>
      <td>0</td>
    </tr>
    <tr>
      <th>400</th>
      <td>4</td>
      <td>95</td>
      <td>64</td>
      <td>0</td>
      <td>0</td>
      <td>32.0</td>
      <td>0.161</td>
      <td>31</td>
      <td>1</td>
    </tr>
    <tr>
      <th>571</th>
      <td>2</td>
      <td>130</td>
      <td>96</td>
      <td>0</td>
      <td>0</td>
      <td>22.6</td>
      <td>0.268</td>
      <td>21</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
array = dpp.values
X = array[:, 0:8]
y = array[:,8]

In [10]:
array.shape

(768, 9)

In [11]:
y.shape

(768,)

In [15]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

Filter method - chi squ : test, plas, mass, age
Wrapper method - RFE : preg, pedi, age

In [17]:
# Feature selection using filter method chi squ
test = SelectKBest(score_func=chi2, k=4)  # 4 most important target variables
fit = test.fit(x,y)

In [21]:
np.set_printoptions(precision=3)
print(fit.scores_)     # test, plas, mass, age

[ 111.52  1411.887   17.605   53.108 2175.565  127.669    5.393  181.304]

In [24]:
# Scale features
features = fit.transform(X)

In [25]:
print(features[0:5, :])    # sample from prediction dataset

[[148.    0.   33.6  50. ]
 [ 85.    0.   26.6  31. ]
 [183.    0.   23.3  32. ]
 [ 89.   94.   28.1  21. ]
 [137.  168.   43.1  33. ]]

In [27]:
# Feature selection - Filter Method - correlation coefficient 
features.dtype
features_df = pd.DataFrame(features)
features_df.corr()   # Get rid of variables with more than .7 correlation

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.000000</td>
      <td>0.331357</td>
      <td>0.221071</td>
      <td>0.263514</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.331357</td>
      <td>1.000000</td>
      <td>0.197859</td>
      <td>-0.042163</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.221071</td>
      <td>0.197859</td>
      <td>1.000000</td>
      <td>0.036242</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.263514</td>
      <td>-0.042163</td>
      <td>0.036242</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
# Feature Selection - Wrapper Method - RFE
from sklearn.feature_selection import RFE

In [30]:
from sklearn.linear_model import LogisticRegression

In [39]:
#  Create the logistic regression model 
model = LogisticRegression()
rfe = RFE(model, 3)    # chose top 3 feature

fit = rfe.fit(X,y)

C:\Users\stacy\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\stacy\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\stacy\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\stacy\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\stacy\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\stacy\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [41]:
print("selected features %s" %(fit.support_))
print("Feature ranking: %s" %(fit.ranking_))

# features to include preg, pedi, age

selected features [ True False False False False  True  True False]
Feature ranking: [1 2 3 5 6 1 1 4]

In [42]:
# Feature Selection - Embedded methods - regularization - ridge regression
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=1.0)
ridge.fit(X,y)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [54]:
# function for the linear regression 
def pretty_print_coefs(coefs, names=None, sort=False):
    if names== None:
        names = ["X%s" % x for x in range(len(coefs))]
    lst = zip(coefs, names)
    if sort:
        lst = sorted(lst, key= lambda  x:-np.abs(x[0]))
    return " + ".join("%s * %s " %(round(coef, 3), name)
                      for coef, name in lst)

In [55]:
print("Ridge model: ", pretty_print_coefs(ridge.coef_))

Ridge model:  0.021 * X0  + 0.006 * X1  + -0.002 * X2  + 0.0 * X3  + -0.0 * X4  + 0.013 * X5  + 0.145 * X6  + 0.003 * X7

Filter method - chi squ : test, plas, mass, age
Wrapper method - RFE : preg, pedi, age