In [1]:
planets=['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune'
        ]

In [2]:
planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [3]:
planets[1]

'venus'

In [4]:
planets[-2]

'uranus'

In [5]:
planets[0,1,2]

TypeError: list indices must be integers or slices, not tuple

In [6]:
planets[4:7]

['jupiter', 'saturn', 'uranus']

In [7]:
planets[3:]

['mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [8]:
planets[2]='err'

In [9]:
print(planets)

['mercury', 'venus', 'err', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [10]:
planets_copy = planets

In [11]:
planets_copy

['mercury', 'venus', 'err', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [12]:
planets_copy[:-1] = 'earth'

In [13]:
planets_copy

['e', 'a', 'r', 't', 'h', 'neptune']

In [14]:
planets_copy = planets

In [15]:
len(planets)

6

In [16]:
sorted(planets)

['a', 'e', 'h', 'neptune', 'r', 't']

In [17]:
planets.index('r')

2

In [18]:
new_planets = planets.copy()

In [19]:
new_planets

['e', 'a', 'r', 't', 'h', 'neptune']

In [20]:
planets[:] = 0

TypeError: can only assign an iterable

In [21]:
planets

['e', 'a', 'r', 't', 'h', 'neptune']

In [22]:
planets=['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune'
        ]

In [23]:
planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [24]:
len(planets)

8

In [26]:
newPlanets = planets.copy()

In [27]:
newPlanets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [28]:
len(newPlanets)

8

In [29]:
pluto = 'Pluto'

In [30]:
pluto.upper()

'PLUTO'

In [31]:
claim = 'Pluto is a planet'

In [32]:
claim

'Pluto is a planet'

In [33]:
datePlutoWasFound = '1634-12-10'

In [34]:
year, month, day = datePlutoWasFound.split('-')

In [35]:
month

'12'

In [36]:
'/'.join([month, day, year])

'12/10/1634'

In [38]:
position = 3

In [39]:
" {} is the {}th planet".format(newPlanets[2], position)

' earth is the 3th planet'

In [40]:
numbers = {'one':1, 'two':2, 'three':3}

In [41]:
numbers

{'one': 1, 'three': 3, 'two': 2}

In [42]:
numbers[3]

KeyError: 3

In [43]:
capitals = {'Rome' : 'Italy', 'Germany' : 'Berlin'}

In [44]:
capitals['Germany']

'Berlin'

In [46]:
moreCapitals={"UK":'London', 'Malaysia':'KL'}

In [47]:
capitals.update(moreCapitals)

In [48]:
capitals

{'Germany': 'Berlin', 'Malaysia': 'KL', 'Rome': 'Italy', 'UK': 'London'}

In [49]:
capitals['India']='Delhi'

In [50]:
capitals

{'Germany': 'Berlin',
 'India': 'Delhi',
 'Malaysia': 'KL',
 'Rome': 'Italy',
 'UK': 'London'}